body {
	background-color: #e0e0e0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

div#page {
	background-color: #f5f5f5;
	max-width: 800px;
	margin: auto;
}

div#titlebar {
	overflow: auto;
	background-color: #0d47a1;
	color: #fafafa;
	padding-top: 32px;
	padding-bottom: 32px;
	box-shadow: 0 2px 8px grey;
}

div#titlebar h1, h2 {
	text-align: center;
	margin: 0px;
}

div#tabbar {
	overflow: auto;
	background-color: #fafafa;
	padding-left: 3%;
	box-shadow: 0 2px 8px grey;
}

div#tabbar a:link {
	color: black;
}

div#tabbar a:visited {
	color: black;
}

div#tabbar a:hover {
	color: black;
}

div#tabbar a:active {
	color: black;
}

div#tab {
	width: 30%;
	height: 64px;
	float: left;
	margin-right: 3%;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#tab_active {
	width: 30%;
	height: 64px;
	float: left;
	margin-right: 3%;
	position: relative;
	text-align: center;
	border-bottom: 4px solid #0d47a1;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#content {
	padding-left: 32px;
	padding-top: 16px;
	padding-right: 32px;
	padding-bottom: 16px;
}

.card {
	margin-top: 8px;
	padding-left: 32px;
	padding-top: 16px;
	padding-right: 32px;
	padding-bottom: 16px;
	background-color: white;
	box-shadow: 0 2px 8px grey;
}