* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
}

/* Page Layout */

.container{
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 0px;

    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 10px;
}

/* Header */

header{
    grid-area: header;
	
	background-color: black;
    color: #ef5350;
    padding: 20px 0;
	
    display: grid;
    grid-template-columns: 9fr 3fr;
}

header nav {
    justify-self: start;
    margin-left: 60px;
    list-style: none;
}

header nav li {
    margin-right: 15px;
    display: inline-block;
}

header button {
    justify-self: end;
	
	margin-right: 6px;
    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */

.main {
    grid-area: main;
	background-color: #eee;
    margin: 15px;
    text-align: center;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}


/* Sidebar */

.sidebar {
    grid-area: sidebar;
	
	background-color: #eee;
    margin: 15px;
	border: 1px solid #a2a2a2;
    padding: 20px;
}

/* Footer */

footer {
    grid-area: footer;

    background-color: #ccc;
	color: #ef7370;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 600px) {
    .container{
        /*  Redefine the grid into a single column layout. */
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
    }
}